@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Forzamos tema claro para que coincida con el mock del TP6 */
body {
  /* Fondo gris claro como bg-gray-50 */
  background: #f8fafc;
  /* Texto gris oscuro como slate-900 */
  color: #0f172a;
  /* Usar la familia configurada por next/font */
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}
